<p>
  thank you for registering with Easy Shop! Please confirm your email address by
  clicking the link below:
</p>
<p>
  <a href="<%= link %>">Confirm Email Address</a>
</p>
<p>
  thank you,<br />
  The Easy Shop Team
</p>
